@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --backgroundAccent: #C2EFD4;
  }
}


body {
  font-family: "Popins", sans-serif;
  background-color: var(--backgroundAccent);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  h1 {
    @apply text-primary font-serif text-8xl font-medium;
    line-height: 106.21px;
  }
  h2 {
    @apply text-primary;
    font-size: 64px;
    line-height: 84.41px;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
  }
  p {
    @apply font-medium text-lg leading-8 uppercase;
  }
}
