@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --backgroundAccent: #C2EFD4;
  }
}


body {
  font-family: "Popins", sans-serif;
  background-color: var(--backgroundAccent);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  h1 {
    @apply text-primary font-serif md:text-8xl text-4xl font-medium;
  }
  h2 {
    @apply text-primary font-medium;
    font-size: 50px;
    line-height: 66px;
  }
  p {
    @apply font-medium text-lg leading-8 tracking-wider;
  }

  button, a, span, p {
    @apply font-sans;
  }

  .custom-line-height {
    line-height: initial;
  }

  .add-dots-top,
  .add-dots-bottom {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 119px;
      height: 110px;
      background-image: url(/icons/dots.svg);
      background-size: cover;
    }
  }
  
  .add-dots-top {
    &::before {
      top: 19%;
      right: 2%;
    }
  }

  .add-dots-bottom {
    &::after {
      bottom: 10%;
      left: 3%;
    }
  }

}